body, body *, #switch > span {
  transition-property: background-image, background-color, border-color, box-shadow, color;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

/* Hovers nos cartões precisam ser ágeis */
a, a ion-icon, a span, #profile img, .group-hover\:opacity-75 {
  transition-duration: 0.3s !important;
}
